{% block jstree %}
    <div id="jstree_container">
        <div id="jstree" class="pull-left"></div>
        <div id="jstree_item" class="pull-right">
            {% if attributes_form is defined %}
            {% include attributes_form %}
            {%endif %}
        </div>
        <div class="clearfix"></div>
    </div>
{% endblock %}
    
{% block stylesheets %}
    <link href="/bundles/jstree/css/alphalemon_jstree.css" rel="stylesheet" type="text/css" media="all" />
{% endblock %}

{% block script %}  <link href="/bundles/jstree/css/alphalemon_jstree.css" rel="stylesheet" type="text/css" media="all" />
    <script src="/components/jstree-dist/jquery.jstree.js"></script>
    <script>
        $(function () {
            $("#jstree").jstree({ 
                "themes" : {
                    "theme": "classic",
                    "url": "/bundles/jstree/css/themes/alphalemon/style.css"
                },
                "json_data" : {
                    "data" : [
                        {
                            "data": "Menu",
                            "attr" : { "id" : "menu" },
                            "state": "open",
                            "children": [ {{ jstree_nodes|raw }} ]
                        }
                    ]
                },
                "plugins" : [ "themes", "json_data", "ui", "contextmenu", "crrm" ]
            });
        });
    </script>
{% endblock %}

    
    